<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.3">
	<!--O id identifica seu plugin globalmente. Deve ser único, conter apenas caracteres alfanuméricos, underlines, pontos e deve conter ao menos 5 caracteres e um máximo de 40. Uma vez definido o ID, você não deve alterar ele ;) -->
	<id>GERADOR_MASMORRAS</id>
	<!--version é a versão do seu plugin. Quando for lançar uma nova versão do seu módulo, altere aqui =) -->
	<version>1.0</version>
	<name>Gerador de Masmorras Aleatorias</name>
	<description>Gera masmorras aleatorias para o scene do RRPG</description>
	<author>VinnyAmbesek</author>
	<site>http://pt-br.rpgmeister.wikia.com/wiki/Main_Page</site>
	<contact>vinnyrpgmeister@gmail.com</contact>
</module>
